$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
a:link { color: #green; }
a:visited { color: #green; }
${width:900px;}

#wrapper{
margin: auto;

}
.img1{
margin-bottom:10px;
}
.fsize8{
	font-size: 10px;
	float:left;
	
	}
.fsize8-2{
	font-size: 10px;
	color:green;
	}
	
	
.header {
	 background-images: url("/images/02.jpg");
	 width:900px;
	 height:120px:
	}
