$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
a:link { color: green; }
a:visited { color: green; }


#wrapper {
margin: auto;
width:900px;
}
.img1{
margin-bottom:10px;
}
.fsize8{
	font-size: 10px;
	float:left;
	margin-left:2px;	
}
.fsize8-2 {
	font-size: 10px;
	color:green;
}

#header {
	 background-image:url("../images/02.jpg");
	 width:900px;
	 height:120px;	 
}

.floatl {
float:left;
}

.margin12px {
padding-left:12px;
}

.navi{ 
width:900px;
height:40px;

}

ul li{
width:100px;
height:40px;
}

#mainpic{
margin-top:2em;
margin-bottom:1em;
width:900px;
height:600px;
}

#mainpic2box {
width:900px;
height:60px;
border-style:none;
border-width:none;
background-repeat:no-repeat;
margin:0 1em 0 1em;
background-image:url("../images/bg_top_banners.gif");
background:repeat;
a{
float:left;
}
}

#container2{
	width:900px;
	clear:both;
	}



.clearfix {
  min-height: 1px;
}
.clearfix:after {
  content: ".";  
  display: block;  
  clear: both;
  height: 0;
  visibility: hidden;
}
html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
}


.float-left {
	float: left;
	margin-left: 1px;
}
#leftbox {
width:440px;
margin-top:14px;
float:left;
}


#leftbox .information-header {
	background-image: url(../images/topinfo.gif);
	background-repeat: no-repeat;
	background-position:left top;
	width: 440px;
    height:40px;
    float:left;
}

#leftbox .information{
	float:left;
	background-image: url(../images/subcolumn_bg.gif);
	background-repeat: repeat-y;
	width:440px;
	margin-left: 20px;
	float:left;

}

#leftbox .information-footer {
	background-image: url(../images/subcolumn_bottom.gif);
	background-repeat: no-repeat;
	background-position:left bottom;
	height: 8px;
	width: 440px;
	float:left;
}


.information-header_2 {
	float: right;
	margin-top: 8px;
	margin-bottom:10px;
 img {
	margin-right: 12px;
	margin-left: 5px;
	float: right;	
}
}



.floatleft {	
	float:left;
}



 .infonavi {
	width: 440px;
	margin-top:12px;
	margin-left:2em;
	}

 .infonavi ul li {
	list-style-type: none;
	float: left;
	background-position: bottom;
	margin-bottom: 6px;
	width:auto;
	}

.infonavi ul{
	white-space:nowrap;
	padding: 0px;
	
}


 .infonavi a {
	display: block;
	text-indent: -9999px;
	text-decoration:none;
	
}
 .infonavi ul .li01 a{
	background-image:url(../images/nav_topinfo_15.gif);
	width:55px;
	height:23px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #003204;
	background-repeat: no-repeat;
}

.infonavi ul .li02 a{
	background-image:url(../images/nav_topinfo_04.gif);
	width:61px;
	height:23px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #003204;
	background-repeat: no-repeat;
	background-position: center 6px;

}

 .infonavi ul .li03 a{
	background-image:url(../images/nav_topinfo_06.gif);
	width:51px;
	height:23px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #003204;
	background-position: center 6px;
	background-repeat: no-repeat;
}

 .infonavi ul .li04 a{
	background-image:url(../images/nav_topinfo_08.gif);
	width:60px;
	height:23px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #003204;
	background-repeat: no-repeat;
	background-position: center 6px;
}

.infonavi ul .li05 a{
	background-image:url(../images/nav_topinfo_10.gif);
	width:56px;
	height:23px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #003204;
	background-position: center 6px;
	background-repeat: no-repeat;
	}
	
.infonavi ul .li06 a{
	background-image:url(../images/nav_topinfo_12.gif);
	width:56px;
	height:23px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #003204;
	background-position: center 6px;
	background-repeat: no-repeat;
	}	

 .infonavi ul .li07 a{
	background-image:url(../images/nav_topinfo_14.gif);
	width:65px;
	height:23px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #003204;
	background-repeat: no-repeat;
	background-position: center 6px;
	}	

.clearboth{
clear:both;
}

.padding-right {
	padding-right: 30px;
//	margin-left: 10px;
}
.list-item-mark {
	background-image: url(../images/green_arrow.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	width:400px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #F90;
	padding-bottom: 4px;
	list-style:none;
	margin-left:-1em;
}




.float-left {
	float: left;
	margin-left: 1px;
}
.padding-right {
	padding-right: 30px;
}
.list-item-mark {
	background-image: url(../images/green_arrow.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #F90;
	padding-bottom: 10px;
	margin-top: 10px;
	list-style:none;
}

.box1 {
	border-style:solid;
	width:400px;
	background:yellow;
	border-width:1px;
	margin-left:1em;
	padding:2px;
	padding-left:14px;
	background-image:url(../images/green_square_arrow.gif);
	background-repeat:no-repeat;
	background-position:2px;
}


.bottom6 {
	margin-top: -4px;
}



#rightbox {
	float: right;
	width:440px;
}

.boxoutsider {
	background-image: url(../images/event.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 40px;
	width: 440px;
	padding-top: 40px;
	margin-top: 12px;
	float: right;
}
.boxinsider {
	background-image: url(../images/subcolumn_bottom.gif);
	background-position: right bottom;
	width:440px;
	height:8px;
	background-repeat: no-repeat;
	padding-bottom: 5px;
}
.boxmiddler {
	background-image: url(../images/subcolumn_bg.gif);
	background-repeat: repeat-y;
	width: 440px;
	
}
.monthivent {
	float: left;
	height: 22px;
	width: 96px;
	padding-top: 12px;
	padding-left: 12px;
}
.boxoutside1 {
	background-image: url(../images/month_arrow.gif);
	background-repeat: no-repeat;
	float: left;
	border: 1px solid #090;
	margin-top: 12px;
	background-position: left center;
	margin-left: 4px;
	font-size: 12px;
	font-style: normal;
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 28px;
	margin-right: 4px;
}
.boxoutside1 p a {
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #09F;
}
.boxoutside2 {
	background-image: url(../images/month_arrow.gif);
	background-repeat: no-repeat;
	float: left;
	border: 1px solid #090;
	margin-top: 12px;
	background-position: left center;
	margin-left: 4px;
	font-size: 12px;
	font-style: normal;
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 28px;
	margin-right: 4px;
	_padding-right:12px;
}
.boxoutside2 p a {
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #09F;
	font-style: normal;
}
.boxoutside3 {
	background-image: url(../images/month_arrow.gif);
	background-repeat: no-repeat;
	float: left;
	border: 1px solid #090;
	margin-top: 12px;
	background-position: left center;
	margin-left: 4px;
	font-size: 12px;
	font-style: normal;
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 28px;
	_padding-right:12px;
	margin-right: 8px;
}
.boxoutside3 p a {
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #09F;
	font-style: normal;
}
.sisetupotinon {
	float: left;
	margin-top: 12px;
	margin-left: 4px;
	margin-right: 4px;
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: normal;
}
.go {
	height: 16px;
	width: 44px;
	float: left;
	background-position: center;
	margin-top: 16px;
}
.boxoutsider .boxinsider .boxmiddler select {
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: normal;
	font-style: normal;
	width: 180px;
}
.todayivent {
	float: left;
	height: 22px;
	width: 96px;
	margin-top: 12px;
	background-repeat: no-repeat;
	background-position: left;
	clear: both;
	margin-left: 12px;
	_margin-left:11px;
	margin-right: 4px;
}
.iventbox {
	float: left;
	width: 314px;
	border: 1px solid #090;
	margin-top: 12px;
	padding-top: 4px;
	_padding-left:34px;
}
.plink2 {
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size: 12px;
	background-image: url(../images/green_square_arrow.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	color: #09F;
}

.boxoutsider .boxinsider .boxmiddler .iventbox ul li {
	margin-left: -36px;
	padding-left: 18px;
	line-height: normal;
	font-size: 12px;
}
.mainasumargin {
	margin-left: -18px;
	line-height: normal;
}
#rightbox .pdfimg {
	float: right;
	height: 50px;
	width: 440px;
	_margin-top: 1em;
	margin-top: 5em;
	margin-left: 2em;
}
#main2 {
	clear: both;
	width: 900px;
	padding-top: 12px;
	_margin-left:16px;
}
.nadeshiko {
	float: left;
	margin-top: 12px;
	margin-bottom: 4px;
}
#main2 p {
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size: 12px;
	clear: both;
}
.bottom {
	border-bottom-color: #BEA57F;
	padding-bottom: 32px;
}
.top {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #BEA57F;
	padding-top: 6px;
	width: 100%;
}

.gototop {
	text-indent: -9999px;
}

