$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower
 @import "custom";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.box1{
width:auto;
height:187px;
border:solid 1px;
border-color:$divcolor;
background-image:url(../images/Desert.jpg);
}
$aaa:true;
.test1{
	
  //li{
	//	float:le0ft;
	//	list-style:none;
	//	margin-left:10px;
	//	a{

	//			background-color:yellow;
	//			color:white;
	//			padding:5px;
	//		  &:hover{
				
	//			  @if $aaa == true {
	//				  background-color:yellow;
	//			  } @else {
	//				  background-color:red;
	//			  }
				
	//			  padding:6px;
	//			  text-decoration:none;
	//			}
  //    } 
				
	//}

}	


@mixin mix1($hovercolor){
	li{
		float:left;
		list-style:none;
		margin-left:10px;
			a{
				background-color:black;
				color:white;
				padding:5px;
			&:hover{
				background-color:$hovercolor;
				color:black;
				padding:6px;
				text-decoration:none;
				}
		}		
	}
}	


.test2{
	@include mix1(blue);
	margin-top:20px;
	margin-bottom:40px;
}	

a .navi01{
	width:215px;
	height:50px;
	margin-right:30px;
    background-image:url(../images/bnr_enchari.gif);
	&:hover{
		background-image:url(../images/bnr_onlooking.gif);
		width:215px;
		height:50px;
	}
}

#image-bnr {
	margin-top: 50px;
	width:50px;
	hight:20px;
	margin:auto;
	
	a {
		background-color: blue;
		background-image:url(../images/bnr_enchari.gif)
	}
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}